@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .perspective {
      perspective: 1000px;
    }
    .rotate-y-180 {
      transform-style: preserve-3d;
    }
    .backface-hidden {
      backface-visibility: hidden;
    }
    .group-hover\:rotate-y-180:hover .rotate-y-180 {
      transform: rotateY(180deg);
    }
  }